*{
  margin: 0;
  padding: 0;
}

.header{
  width: 100%;
}

.header-name{
  text-align: center;
}

.header-name-barra{
  height: 15px;
  width: 100%;
  background-color: rgb(255, 177, 31);
}

#name{
  font-size: 30px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
}

#grado{
  color: rgb(189, 32, 181);
  text-transform: uppercase;
  font-size: 20px;
}

.header-datos{
  display: flex;
  width: 0px auto;
}
  
.my-photo{
  width: 30%;
  text-align: center;
}
  
.my-photo img{
  width: 40%;
  padding: 40px;
}
  
.header-description{
  width: 60%;
  margin: 20px;
}

.header-description > div{
  margin: 20px 0px 15px 25px;
}

.iconos{
  width: 30px;
  margin-right: 10px; 
  float: left;
 
}

.iconos-descripcion{
  display:inline-block;
  font-size: 20px;
  font-weight: 500;
}

.division-barra{
  width: 90%;
  height: 4px;
  background-color: rgb(255, 177, 31);
  border-radius: 10px;
  margin: 20px auto;
}


section{
  margin: 10px;
}

button{
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  cursor: pointer;
  border: none;
  background-color: rgba(245, 171, 60, 0.808);
  border-radius: 15px;
  padding: 10px;
  outline: none;
}

button:hover{
  background-color: rgba(255, 115, 192, 0.808);
}

ul{
  margin-left: 10px;
}

li{
  margin-top: 5px;
  margin-left: 10px;
}

.section-header{
  cursor: pointer;
}

.conocimientos,
.experience,
.studies,
.actividades {
   display: none;
   font-size: 18px;
}
  
.active{
   display: block;
   padding: 10px;
}


footer{
  margin-top: 30px;
  background-color: rgba(255, 184, 51, 0.856);
  padding: 10px;
  text-align: center;
}

.iconos-footer{
  width: 20px;
  margin: 0 10px;
}
